<div class="align-middle" id="page-content">
  <div class="container text-center">
      <div class="row justify-content-center">
          <div class="col-md-12">
              <h1 class="font-weight-light mt-4">Member</h1>
              <a class="btn btn-success btn-icon-split" href="#" data-toggle="modal" data-target="#newMemberModal"><span class="icon text-white-50"><i class="fas fa-check"></i></span> <span class="text">New</span></a>
          </div>
          <div class="col-md-12">
            <!-- DataTales Example -->
        <div class="card shadow" style="margin-top: 10px;">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Creation Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of members">
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.creationDate}}</td>
                    <td>
                      <a (click)="deleteMember(member._id)" class="btn btn-danger btn-icon-split"><span class="icon text-white-50"><i class="fas fa-trash"></i></span></a>
                      <a (click)="modal(member._id)" class="btn btn-warning btn-icon-split" href="#" data-toggle="modal" data-target="#memberModal"><span class="icon text-white-50"><i class="fas fa-exclamation-triangle"></i></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="user" #loginForm="ngForm">
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" aria-describedby="nameHelp" placeholder="Enter Name..." [formControl]="nameEdit" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-user" aria-describedby="nameHelp" placeholder="Enter email..." [formControl]="emailEdit" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  </div>
              </form>
              <br>
              <div class="alert alert-danger" role="alert" *ngIf="exists_error === true">
                {{ errorMensaje }}
              </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Close</a>
          <a (click)="editMember()" type="button" class="btn btn-primary text-white" data-dismiss="modal">Save changes</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="user" #loginForm="ngForm">
                <div class="form-group">
                    <select class="custom-select" [formControl]="teamSelect">
                        <option *ngFor="let team of teams" [ngValue]="team._id">
                            {{team.name}}
                        </option>
                      </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" aria-describedby="nameHelp" placeholder="Enter Name..." [formControl]="newName" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" aria-describedby="nameHelp" placeholder="Enter Email..." [formControl]="newEmail" required>
                  </div>
              </form>
              <br>
              <div class="alert alert-danger" role="alert" *ngIf="exists_errorSave === true">
                {{ errorMensajeSave }}
              </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Close</a>
          <a (click)="save()" type="button" class="btn btn-primary text-white" data-dismiss="modal">Save changes</a>
        </div>
      </div>
    </div>
  </div>