<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/index/home']" routerLinkActive="router-link-active" >Examen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/admin/team']" routerLinkActive="router-link-active" >Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/admin/member']" routerLinkActive="router-link-active" >Member</a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="closeSesion()" class="nav-link js-scroll-trigger">Close sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>